.search{background:rgb(238, 238, 238);box-shadow:0 0 5px 3px #0000004b;}
#words{background:rgb(238, 238, 238);box-shadow:0 0 5px 3px #0000004b;}
#moresearch{background:rgb(238, 238, 238);box-shadow:0 0 5px 3px #0000004b;}
.morebtns{background:#00a2e8;color:white;padding-left:30px;width:calc(100% - 30px)}
#word1:hover,#word2:hover,#word3:hover,#word4:hover,#word5:hover{background:#00a2e8;color:white;padding-left:30px;}
#word1,#word2,#word3,#word4,#word5{width:100%;transition: all .2s;padding-left:20px}
.searchbutton{background:rgb(243, 243, 243);fill:grey}
.searchbuttonselected{background:#00a2e8;fill:white}
#boxclose:hover{color:#00a2e8}
#boxclose:active{color:#00b3ff}
.backimg{border:2px solid rgb(238, 238, 238)}
.backimgs{border:2px solid #00a2e8}
#time{color:rgb(238, 238, 238);text-shadow: 0em 0em 7px #000000}
.setgroup{background:rgb(238, 238, 238)}
a{color:#00a2e8;}
a:hover{color:rgb(70, 199, 255)}
.yiyan{color:rgb(238, 238, 238);text-shadow: 0em 0em 7px #000000;padding-left:5px;padding-bottom:30px}
.setcolorbtns{box-shadow:0 0 3px 3px #00a2e8}
#pagebox{background:white}
#setbtnon{background:#00a2e8;color:white;border:1px solid #00a2e8}
#setbtnoff{background:rgba(0,0,0,0);color:rgba(0,0,0,0);border:1px solid grey}
#setinp,#nameinp,.appset{border-bottom:1px solid #757575}
#setinp:hover,#nameinp:hover,.appset:hover{border-bottom:1px solid #00a2e8}
#setinp:focus,#nameinp:focus,.appset:focus{border-bottom:1px solid #77d5ff}
.add:active .appicon{fill:#00a2e8}