.search{background:rgb(238, 238, 238);box-shadow:0 0 5px 3px #0000004b;}
#words{background:rgb(238, 238, 238);box-shadow:0 0 5px 3px #0000004b;}
#word1:hover,#word2:hover,#word3:hover,#word4:hover,#word5:hover{background:green;color:white;padding-left:30px;}
#word1,#word2,#word3,#word4,#word5{width:100%;transition: all .2s;padding-left:20px}
.searchbutton{background:rgb(243, 243, 243);fill:grey}
.searchbuttonselected{background:green;fill:white}
#boxclose:hover{color:green}
#boxclose:active{color:#00b900;}
.backimg{border:2px solid rgb(238, 238, 238)}
.backimgs{border:2px solid green}
#time{color:rgb(238, 238, 238);text-shadow: 0em 0em 7px #000000}
.setgroup{background:rgb(238, 238, 238)}
a{color:green;}
a:hover{color:#00b900}
.yiyan{color:rgb(238, 238, 238);text-shadow: 0em 0em 7px #000000;padding-left:5px;padding-bottom:30px}
.setcolorbtns{box-shadow:0 0 3px 3px green}
#pagebox{background:white}
#setbtnon{background:green;color:white;border:1px solid green}
#setbtnoff{background:rgba(0,0,0,0);color:rgba(0,0,0,0);border:1px solid grey}
#setinp,#nameinp,.appset{border-bottom:1px solid #757575}
#setinp:hover,#nameinp:hover,.appset:hover{border-bottom:1px solid green}
#setinp:focus,#nameinp:focus,.appset:focus{border-bottom:1px solid #00b900}